{
  "global": {
    "frameWidth": 2592,
    "frameHeight": 1944,
    "fps": 15,
    "recording": {
      "mode": "always",
      "videoCodec": "hevc",
      "videoBitrateKbps": 8000,
      "videoOutPath": "/home/user/video-out",
      "videoFileExtension": "mp4",
      "fileIntervalSeconds": 300,
      "limitOccupiedSpace": true,
      "maxOccupiedSpaceGB": 50,
      "keepFreeDiskSpaceGB": 10
    }
  },
  "cameras": [
    {
      "name": "camera-name",
      "rtspUrl": "rtsp://username:password@192.168.1.100:554/stream1",
      "fps": 15
    }
  ]
}
