body {
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: space-between;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: black;
}

.tabs {
    display: flex;
    gap: 10px;
}

.tab {
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
    color: white;
}

.active-tab {
    background-color: white;
    color: black;
}

.slider-container {
    /*flex-grow: 1;*/
}

.slider-label {
    display: block;
    margin-bottom: 5px;
}

#jsonEditorContainer {
    display: none;
    flex-grow: 1;
    margin-left: 20px;
}

#jsonEditor {
    width: 300px;
    height: 720px;
}

#image-container {
    flex-grow: 1;
}
